#customize_image {
  width: 90%;
  margin: auto;
  height: 600px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#customize_image > p {
  margin-bottom: 2%;
  font-size: 18px;
}

#customize_image > img {
  width: 100%;
  height: 100%;
}

#customize_content {
  width: 44%;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  margin-top: 9%;
}

#customize_content > h1 {
  font-size: 52px;
  font-weight: bolder;
  line-height: 18px;
}

#customize_content > p {
  font-size: 17px;
}

#customize_content > button {
  border-radius: 20px;
  background-color: black;
  color: white;
  height: 38px;
  border: none;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
}

#customize_content > button:hover {
  background-color: rgb(58, 57, 57);
}

/* #customise_footer {
  height: 260px;
  background-color: black;
  color: white;
}

#customise_footer > div:first-child {
  cursor: pointer;
  display: flex;
  width: 96%;
  transform: translate(30px, 20px);
  border-bottom: 1px solid rgb(54, 53, 53);
  height: 190px;
}

#footer_first > div:first-child {
  width: 17%;
  line-height: 6px;
  font-size: 13px;
}

#footer_get_help,
#footer_about {
  width: 19%;
  font-size: 10px;
  line-height: 12px;
}

#footer_get_help > p,
#footer_about > p {
  color: grey;
}

#footer_get_help > p:hover,
#footer_about > p:hover {
  color: white;
}

#customise_footer_icon {
  width: 18%;
  height: 50px;
  margin-left: 25%;
}

#customise_footer_icon > button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin: 0 4%;
}
#customise_footer_icon > button > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#footer_lastline {
  width: 94%;
  margin: 2% 2% 0;
  display: flex;
  justify-content: space-between;
  height: 38px;
}

#footer_location {
  width: 40%;
  height: 38px;
  display: flex;
}

#footer_location div > img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

#footer_location > p {
  font-size: 10px;
  width: 270px;
  color: grey;
}

#footer_location > p > b {
  margin-right: 8%;
  color: white;
}

#footer_terms {
  width: 35%;
  display: flex;
  color: grey;
  font-size: 12px;
  justify-content: space-around;
} */

@media screen and (min-width: 376px) and (max-width: 768px) {
  #customize_image {
    width: 96%;
    height: 400px;
  }
  #customize_image > p {
    margin-bottom: 4%;
    font-size: 22px;
  }

  #customize_content {
    width: 63%;
    margin-top: 20%;
  }

  #customize_content > h1 {
    font-size: 45px;
  }

  #customize_content > p {
    font-size: 15px;
  }

  #customize_content > button {
    height: 39px;
    font-size: 16px;
  }

  /* #customise_footer {
    height: 380px;
  }

  #customise_footer > div:first-child {
    width: 98%;
    transform: translate(20px, 20px);
    height: 280px;
  }

  #footer_first > div:first-child {
    width: 25%;
    line-height: 6px;
    font-size: 17px;
  }

  #footer_get_help,
  #footer_about {
    width: 28%;
    font-size: 13px;
    line-height: 15px;
  }

  #customise_footer_icon {
    width: 23%;
    height: 100px;
    margin-left: 2%;
    text-align: right;
    margin-right: 2%;
  }

  #customise_footer_icon > button {
    width: 35px;
    height: 35px;
  }

  #footer_lastline {
    width: 96%;
    justify-content: space-between;
    height: 70px;
    border: 1px solid red;
  }

  #footer_location {
    margin-top: 4%;
    width: 50%;
  }

  #footer_location > p {
    font-size: 11px;
    width: 270px;
    color: grey;
    margin: 4% 2% 0%;
  }

  #footer_terms {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    justify-content: right;
    margin-top: 1%;
  }

  #footer_terms > p {
    margin-right: 8%;
    line-height: 2px;
  } */
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  #customize_image {
    width: 94%;
    height: 600px;
  }

  #customize_image > p {
    margin-bottom: 4%;
    font-size: 25px;
  }

  #customize_content {
    width: 84%;
    margin-top: 37%;
  }

  #customize_content > h1 {
    font-size: 45px;
    line-height: 42px;
  }

  #customize_content > p {
    font-size: 13px;
  }

  /* #customise_footer {
    height: 750px;
  }

  #customise_footer > div:first-child {
    display: block;
    width: 96%;
    transform: translate(20px, 20px);
    border: none;
    height: 190px;
  }

  #footer_first > div:first-child {
    width: 98%;
    line-height: 8px;
    border-bottom: 1px solid grey;
  }

  #footer_get_help,
  #footer_about {
    width: 90%;
    font-size: 10px;
    line-height: 16px;
    border-bottom: 1px solid grey;
  }

  #customise_footer_icon {
    width: 90%;
    height: 40px;
    margin-top: 3%;
    margin-left: -1%;
  }

  #customise_footer_icon > button {
    margin: 0 5% 0 0;
    border: none;
  }
  #customise_footer_icon > button > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  #footer_lastline {
    width: 98%;
    margin: 0;
    transform: translateY(380px);
    display: block;
    justify-content: none;
    height: 198px;
  }

  #footer_location {
    width: 90%;
    height: 38px;
    display: block;
  }

  #footer_location div > img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }

  #footer_location > p {
    font-size: 13px;
    width: 90%;
    color: grey;
  }

  #footer_location > p > b {
    margin-right: 8%;
    color: white;
  }

  #footer_terms {
    width: 90%;
    display: block;
    color: grey;
    font-size: 12px;
    justify-content: none;
  } */
}
