#tara_image,
#the_latest {
  width: 94%;
  height: 600px;
  margin: auto;
}

#tara_image > img,
#the_latest > img {
  height: 100%;
  width: 100%;
}

#training_ess {
  width: 50%;
  text-align: center;
  height: 200px;
  margin: 2% auto;
  margin-bottom: 6%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#training_ess > p:first-child {
  font-size: 16px;
}
#training_ess > p:nth-child(2) {
  font-size: 43px;
  font-weight: bolder;
  margin: -8px 0 0px 0px;
  transform: scale(1.2);
}

#training_ess > p:nth-child(3) {
  font-size: 15px;
  margin: 5% 0;
}

#training_ess > div {
  display: flex;
  margin-left: 24%;
}

#training_ess > div > button {
  width: 210px;
  height: 37px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 15px;
  background-color: black;
}
#training_ess > div > button:hover,
#training_ess > div > div:hover {
  background-color: rgb(49, 49, 49);
}

#training_ess > div > div {
  margin-left: 2%;
  width: 120px;
  height: 37px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 1.8%;
  border-radius: 20px;
}

#the_latest > p {
  font-size: 18px;
  margin-bottom: 1%;
}
